
<nav class="navbar navbar-expand-md bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand " href="/"><i class="fa-solid fa-earth-asia" style="color: #ffffff; font-size: 1.5rem;"></i> <b class="dancing-script-head">Explore It</b> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/listings">All Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/listings/new">New Listing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="drop-icon"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div id="dropdown-container">
                <span class="material-symbols-outlined">menu</span>
                <span class="material-symbols-outlined">contacts_product</span>
                </div>
            </a>

            <ul class="dropdown-menu" id="show-dropdown">
              <li><a class="dropdown-item" href="#"><b>Sign Up</b></a></li>
              <li><a class="dropdown-item" href="#">Log in</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">About Explore It</a></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
            </ul>

          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info" type="submit">Search</button>
          </form> -->
      </div>
    </div>
  </nav>
