<% layout("/layouts/boilerplate") -%>
<body>
    <div class="alert alert-danger d-flex align-items-center mt-4 " role="alert" id="err-box">
        <div >
          <%= err.message %>
        </div>
    </div>
</body>
